html, body, .wrapper {
    height: 100%;
}
body > .wrapper{
    height:auto;
    min-height:100%;
    overflow:hidden;
}
body > .wrapper:after, .main:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.img-responsive {
    display: block;
    height: auto;
}
nav {
   /* background-color:#666; */
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 2px;
}
aside{
    float:right;
    width:200%;
    padding: 30px;
    margin: 10px;
    background-color:#E4E4E4;
}

.wrapper,footer{
    width:960px;
    margin:0 auto;
}
html,body{
    background-color:grey;
}
.wrapper section,nav{
    padding:5px 35px;
}

footer {
    background-color:#000;
    color:#fff;
    font-size:.6em;
    line-height:2em;
    text-align:center;
}